@model BlogTask.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="formEditId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BlogID" class="control-label"></label>
                <select asp-for="BlogID" class="form-control" asp-items="ViewBag.BlogID"></select>
                <span asp-validation-for="BlogID" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Save" class="btn btn-primary" />*@
                <button onclick="submitForm()" type="button" value="Create" class="btn btn-primary btn-block">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function submitForm() {
        var _data = $("#formEditId").serialize();
           $.ajax({
               type: "post",
               url: '@Url.Action("Edit")',
               data: _data,
               contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
               dataType:'json',
               success: (res) => {
                   if (res.ok == true) {
                       $("#form-modal").modal('toggle');
                       Swal.fire({
                           position: 'top-end',
                           icon: 'success',
                           title: 'Your EDit saved',
                           showConfirmButton: false,
                           timer: 1500
                       })
                       //window.location.reload();
                       @*window.location.replace('@Url.Action("Index")');*@

                   }

               }

           })
       }
</script>