@*@{ 
    var groupsUser = ViewBag.groupUsers as List<GroupUser>;
}*@
@model IEnumerable<GroupVM>
    <h3   style="background-color: #e5e7e8 !important;
      height: 41px !important;
      text-align: center !important; 
      margin-top: 8px !important; 
      border-radius: 8px !important;">Groups Suggestion</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            

            <th>Join Request</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                
                <td>
                    <a onclick="getJoinRequest(@item.GroupID)" style="cursor:pointer" class="btn btn-info">Join</a>



                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    //function getJoinRequest(groupId) {
    //   
    //    var _id = groupId;
    //    $.ajax({
    //        type: "post",
    //        url: 'Group/GetJoinRequest',
    //        data: {
    //            "id": _id
    //        }, success: (res) => {
    //            // indexPost.Cshtm;
    //            loadSuggestionGroups();
    //            loadGroupsPending();
    //        },
    //        error: (res) => {
    //            // indexPost.Cshtm;
    //            loadSuggestionGroups();
    //            loadGroupsPending();
    //        }
    //    })
    //}

    function getJoinRequest(groupId) {
        
                event.preventDefault();
                Swal.fire({
                    title: 'Do you want to Join  Group?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Save',
                    denyButtonText: `Don't save`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        var _id = groupId;
                        $.ajax({
                            type: "post",
                            url: 'GroupUser/GetJoinRequest',
                            data: {
                                "id": _id
                            }
                        })
                        Swal.fire('Joined!', '', 'success')
                            .then((confirm) => {
                                loadSuggestionGroups();
                                loadGroupsPending();
                            })
                    } else if (result.isDenied) {
                        Swal.fire('Not Join', '', 'info')
                    }
                })
            }
</script>