
@{
    ViewData["Title"] = "Index";
}

<p>
    <a onclick="showInputPopup('@Url.Action("Create","Group")','Create')" style="cursor:pointer" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i></a>
</p>

<div id="listAllGroups" >

</div>

<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>
<script src="~/js/DeleteGroup.js"></script>

<script type="text/javascript">
   
    //window.addEventListener("load", loadDataListGroup);
    //window.addEventListener("load", loadUserAccept);

    $(document).ready(function () {
        loadDataListGroup(1);
    });
    function loadDataListGroup(id) {
        var _id = id;
      
        $.ajax({
            type: "GET",
            url: 'Group/GetAll',
            data: {
                "id": _id
            },
            success: function (res) {

                $("#listAllGroups").html(res);

            },
            error: (res)=>{
                $("#listAllGroups").html("Can't Reload Data");

            }
        });
    }
  
</script>
@section Scripts{ 
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}